<header class="page-header" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="logo">
        <h1>
            MY HOME
        </h1>
    </div>
    <div class="user-status" th:if="${user} == null">
        <a href="/login.do">登录</a>/<a href="/register.do">注册</a>
    </div>
    <div class="user-status" th:if="${user} != null">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  th:text="${user.username}">用户名</button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/menu.do">用户中心</a>
                </li>
                <li>
                    <a href="" id="btn-logout">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</header>