<!--导航栏内容应该是定死的-->
<div class="nav" th:fragment="nav">
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="/">首页</a>
        </li>
        <li class="nav-li">
            <a href="/test1">test1</a>
            <div class="sub-nav hidden">
                <ul class="sub-ul">
                    <li class="sub-li">
                        <a href="/test1/test1-1" class="sub-a">test1-1</a>
                    </li>
                    <li class="sub-li">
                        <a href="/test1/test1-2" class="sub-a">test1-2</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-li">
            <a href="/test2">test2</a>
            <div class="sub-nav hidden">
                <ul class="sub-ul">
                    <li class="sub-li">
                        <a href="/test2/CH" class="sub-a">test2-1</a>
                    </li>
                    <li class="sub-li">
                        <a href="/test2/EN" class="sub-a">test2-2</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-li">
            <a href="/test2">test3</a>
            <div class="sub-nav hidden">
                <ul class="sub-ul">
                    <li class="sub-li">
                        <a href="/test2/CH" class="sub-a">test3-1</a>
                    </li>
                    <li class="sub-li">
                        <a href="/test2/EN" class="sub-a">test3-2</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/nav.js"></script>