<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="common/header::header"></div>
    <div th:replace="common/nav::nav"></div>
    <div class="contant">
        <!--用户信息完善界面-->
        <!--id不可修改，createTime和ModifyTime不可主动修改-->
        <form id="" class="" action="">
            <input type="text" name="">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </form>
    </div>
    <div th:replace="common/footer::footer"></div>
</body>
</html>