.header{
    height: 36px;
    width: 100%;
    background-color: #f4f5f3;
    padding: 20px 20px;
    position: relative;
}
.header .logo{
    width: 66%;
}
.header .user-status{
    height: 20px;
    width: 100px;
    float: right;
    position: absolute;
    top: 45px;
    right: 39px;
}
.header .user-info{
    height: 20px;
    width: 100px;
    float: right;
    position: absolute;
    top: 45px;
    right: 39px;
}