body{
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    list-style: none;
    padding: 0px;
}
.hidden{
    display: none;
}
.block{
    display: block;
}