.nav{
    height: 45px;
    width: 90%;
    margin: 0 auto;
    background-color: red;
    position: relative;
}
.nav-a{
    border: 1px solid black;
}
.nav-ul{
    margin: auto;
    line-height: 45px;
}
.nav-li{
    float: left;
    text-align: center;
    width: 126px;
}
/*默认应该全部隐藏，使用css控制，当鼠标悬浮在一级nav-li时候，显示对应的二级sub-nav*/
.sub-nav{
    width:80%;
    top: 45px;
    left:10%;
    background-color:royalblue;
    position: absolute;
}
.nav-li:hover .sub-nav{
    display: block;
}
.sub-ul{
}
.sub-li{
    float: left;
    line-height: 40px;
    margin: auto 20px; /**/
}