<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div th:replace="common/header::header"></div>
    <div th:replace="common/nav::nav"></div>
    <h3>404</h3>
    <div class="contant"></div>
    <div th:replace="common/footer::footer"></div>
</body>
</html>