<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    <div th:replace="common/header::header"></div>
    <div th:replace="common/nav::nav"></div>
    <div class="contant">
        <div style="width: 100%;height: 500px;background-color: aqua">
            <p th:text="${status}">主要内容</p>
        </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
    <button>111</button>
    <script type="text/javascript" src="jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</body>
</html>