<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div th:replace="common/header::header"/>
    </div>
    <div class="container">
        <div th:replace="common/nav::nav"/>
    </div>
    <div class="container">
        <p th:text="${status}">测试内容</p>
        <div class="contant">
            <div class="theLast" th:if="${lastModify} != null">
                最后一次更新的数据:
                <span class="nomal" th:href="@{lastModifyUrl}"/>
            </div>
            <div style="width: 100%;background-color: aqua">
                <button class="btn btn-default">+</button>
            </div>
        </div>

    </div>
    <div class="container">
        <div th:replace="common/footer :: footer"></div>
    </div>
    <script type="text/javascript" src="jQuery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>