<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
    <div th:replace="common/header::header"></div>
    <div th:replace="common/nav::nav"></div>
    <div th:replace="common/navbar-left::navbar-left"></div>
    <div class="contant">
        <div class="theLast" th:if="${lastModify} != null">
            最后一次更新的数据:
            <span class="nomal" th:href="@{lastModifyUrl}"/>
        </div>
        <div style="width: 100%;background-color: aqua">
            <button name="addArea" onclick="addItem()">+</button>
        </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
    <button>111</button>
    <script type="text/javascript" src="Vue/Vue.js"></script>

</body>
</html>