<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div class="loginForm">
        <form action="">
            <div>
                <span>用户名:</span><input type="text" id="login-name">
            </div>
            <div>
                <span>密码:</span><input type="password" id="login-pwd">
            </div>
            <div>
                <button id="login-btn">登录</button>
            </div>
            <div>
                <button id="pwd-btn">忘记密码</button>
            </div>
        </form>
    </div>
    <script src="js/login.js"></script>
</body>
</html>