<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div class="loginForm">
        <form action="/user/findUser.do" id="login-form" method="post">
            <span>用户名:</span><input type="text" id="login-name" name="username"/>
            <span>密码:</span><input type="password" id="login-pwd" name="userpwd"/>
        </form>
        <button id="login-btn" onclick="checkLogin()">登录</button>
        <button id="pwd-btn">忘记密码</button>
    </div>
    <script src="js/login.js"></script>
</body>
</html>