<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div>
    <form id="regist-form" action="/user/addUser.do" method="post">
        <p><span>账户名:</span><input type="text" name="username"/></p>
        <p><span>密码:</span><input type="password" name="userpwd"/></p>
    </form>
    <input type="button" onclick="checkoutRegist()" value="确定"/>
</div>
</form>
<script src="js/regist.js"></script>
</body>
</html>