<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxl.shabby_for_me.customer.dao.CustomerDao">
    <insert id="insertObject" parameterType="com.jxl.shabby_for_me.customer.entity.Customer">
        insert into
        customer
        (CNAME,CPASSWORD,GRADE,CREATETIME,MODIFYTIME)
        values
        (#{cname},#{cpassword},#{grade},now(),now())
    </insert>
</mapper>